
.body{
    background-color: #F6FFDE;
    min-height: 100vh;
    
}
nav{
   
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
  
   background-color: #E3F2C1 ;
}
.Nav{
    margin-right: 30px;
    height: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.NavLink{
    font-size:28px;
    color: #85B09B;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
}
svg{
    
    width: 100px;
    height: 100%;
}
.logo{
    margin-left: 40px;
}
.main{
    display: flex;
    margin-top: 60px;
    place-content: center;
    
}
.img{
    height: 100%;
    width: 600px;
}
form{
  margin-top: 100px;
}
form p{
    margin: 0;
    display: flex;
    
}
form .input-text{

    width:400px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #E3F2C1;
    margin-bottom: 15px;
    padding: 4px;
    padding-left: 10px;
    
}
form .input-text:focus{

    outline: 10px;
    border-color: #85B09B;;
    
}

.input-selection{
   height: 15px;
   width: 15px;
}
form span{
    font-size: 18px;
}

.About{
    
    background-color: #F6FFDE;
    place-content: center;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    color: #85B09B;
}
.imgA{

    width: 500px;
}
.About .span1{
    background-color: #85B09B;
    display: inline-flex;
    padding-left: 20px;
    font-size: 20px;
    width: 600px;
}

.About .span2{
    display: inline-flex;
    padding-left: 20px;
    font-size: 20px;
    width: 600px;
}
.About .header{
    display: block;
}
.image{
    display: inline-flex;
    height: 270px;
}
.text{
    display: flex;
    margin-top: 10px;
}
p{
    font-size: 20px;
}
.BMI{
    display: inline-block;
    margin-top: 20px;
    color: #85B09B;
    justify-content: center;
    text-align: center;
}
.TEXT{
    display: flex;
    justify-content: center;
}