body{
  background-color: #0d182b !important;
}
.Navbar{
  border-bottom: solid 0.5px #3d4655 !important;
  background-color: #0d182b !important;
  box-sizing: border-box;
  z-index: 100;
  color: white;
  
}
.Navbar img{
  height: 70px;
  width: auto;
}
td img{
  width: 40px;
  height: 100%;
}
div table{
  background-color: #0d182b !important;
  color: white ;
}
tr{
  background-color: #0d182b !important;
}

/* === removing default button style ===*/
.ButtonLink {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  background: none;
  margin-left:10px ;
}

/* button styling */
.ButtonLink {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 30px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  font-size: 30px;
}
/* hover */
.ButtonLink:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
  background: none;
  font-size: 30px;
  
}