.wordArea{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #00C6DA;;
    font-size: 20px;
}
.background-words{
    padding: 4px;
    background-color: #1a1a1a;
    width: 603px;
    height: 100px;
    border-radius: 15px;
    /* outline: 4px solid #BB358A ; */
    outline-offset: 3px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    overflow: hidden;
}
.background-outline-words{
    justify-content: center;
    width: 620px;
    height: 115px;
    background-image: linear-gradient(163deg,  #BB358A 0%,#3F84D5  100%);
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    padding-right: 100px !important ;
}
.textWords{
    margin-right: 10px;
    font-size: 35px;
}
.words{
    width: 600px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}
.greybg{
    padding: 2px;
    border-radius: 10px;
    background-color:#005366;
}
.redbg{
    background-color: #AA2C65;
    border-radius: 10px;
    padding: 2px;

}
.text-green{
    color: #00B28D;
}
.text-red{
    color: #AA2C65;
}

    /* ! Phone size */
    @media (max-width: 600px) {
        .wordArea{
            margin-top: 30px;
            align-items: center;
            display: flex;
            justify-content: center;
            color: #00C6DA;;
            font-size: 20px;
        }
        .background-words{
            padding: 4px;
            background-color: #1a1a1a;
            width: 503px;
            height: 100px;
            border-radius: 15px;
            /* outline: 4px solid #BB358A ; */
            outline-offset: 3px;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            overflow: hidden;
            justify-content: center;

        }
        .background-outline-words{
            justify-content: center;
            width: 520px;
            height: 115px;
            background-image: linear-gradient(163deg,  #BB358A 0%,#3F84D5  100%);
            border-radius: 20px;
            padding: 7px;
            text-align: center;
            margin-right: 25px;
        }
        .words{
            margin-top: 15px;
            width: 500px;
            height: auto;
            flex-wrap: wrap;
            align-items: center;
        }
        .textWords{
            margin-right: 10px;
            font-size: 30px;
        }
    }